<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" th:href= "@{css/send-message.css}">
</head>
<body>
<div class="menu">
    <div class="header-menu container">
        <header class="d-flex justify-content-center py-3">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a th:href="@{/}" class="nav-link active">Список сотрудников</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/search}" class="nav-link">Поиск сотрудника</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/add}" class="nav-link">Добавить сотрудника</a>
                </li>
            </ul>
        </header>
    </div>
    <div class="body-menu container col-md-8">
        <form action="#" th:action="@{/send}" th:object="${message}" method="post" class="form">
            <div class="form-group">
                <label for="lastName">Фамилия</label>
                <input class="form-control" type="text" th:field="*{lastName}" id="lastName" placeholder="Фамилия">
                <div class="alert alert-warning" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
            </div>
            <div class="form-group">
                <label for="firstName">Имя</label>
                <input class="form-control" type="text" th:field="*{firstName}" id="firstName" placeholder="Имя">
                <div class="alert alert-warning" th:if="${#fields.hasErrors('firstName')}" th:errors="*{lastName}"></div>
            </div>
            <div class="form-group">
                <label for="theme">Тема сообщения</label>
                <input class="form-control" type="text" th:field="*{theme}" id="theme" placeholder="Тема">
                <div class="alert alert-warning" th:if="${#fields.hasErrors('theme')}" th:errors="*{theme}"></div>
            </div>
            <div class="form-group">
                <label for="text">Текст сообщения</label>
                <input class="form-control" type="text" th:field="*{textMessage}" id="text" placeholder="Тектс сообщения">
                <div class="alert alert-warning" th:if="${#fields.hasErrors('textMessage')}" th:errors="*{textMessage}"></div>
            </div>
            <input type="submit" class="btn btn-primary btn-block mt-3" value="Отправить">
        </form>
        <div th:if="${notFoundUser != null}" class="alert alert-danger notification" role="alert">
            <p th:text="${notFoundUser}"></p>
        </div>
        <div class="find_user" th:if="${sendUser != null}">
            <p th:text="${sendUser}"></p>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</body>
</html>
