<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
</head>
<body>
<div class="menu">
    <div class="header-menu container">
        <header class="d-flex justify-content-center py-3">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a th:href="@{/}" class="nav-link active">Список сотрудников</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/search}" class="nav-link">Поиск сотрудника</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/send}" class="nav-link">Отправить сообщение</a>
                </li>
            </ul>
        </header>
    </div>
    <div class="body-menu container">
        <form action="#" th:action="@{/add}" th:object="${user}" method="post" class="form">
            <div class="form-group">
                <label for="lastName">Фамилия</label>
                <input class="form-control" type="text" th:field="*{lastName}" id="lastName" placeholder="Фамилия">
                <div class="alert alert-warning" th:if="${#fields.hasErrors('lastName')}" th:errors="*{firstName}"></div>
            </div>
            <div class="form-group">
                <label for="firstName">Имя</label>
                <input class="form-control" type="text" th:field="*{firstName}" id="firstName" placeholder="Имя">
                <div class="alert alert-warning" th:if="${#fields.hasErrors('firstName')}" th:errors="*{lastName}"></div>
            </div>
            <div class="form-group">
                <label for="middleName">Отчество</label>
                <input class="form-control" type="text" th:field="*{middleName}" id="middleName" placeholder="Отчество">
                <div class="alert alert-warning" th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}"></div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" type="text" th:field="*{email}" id="email" placeholder="Email">
                <div class="email alert-warning" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
            </div>
            <div class="form-group">
                <label for="age">Возраст</label>
                <input class="form-control" type="text" th:field="*{age}" id="age" placeholder="Возраст">
                <div class="alert alert-warning" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
            </div>
            <div class="form-group">
                <label for="salary">Зарплата</label>
                <input class="form-control" type="text" th:field="*{salary}" id="salary" placeholder="Зарплата">
                <div class="alert alert-warning" th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}"></div>
            </div>
            <div class="form-group">
                <label for="address">Аддресс</label>
                <input class="form-control" type="text" th:field="*{address}" id="address" placeholder="Адресс">
                <div class="alert alert-warning" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div>
            </div>
            <button type="submit" class="btn btn-success btn-block mt-3" value="Add User">Создать пользователя</button>
        </form>
        <div th:if="${existedUsername != null}" class="alert alert-danger notification" role="alert">
            <p th:text="${existedUsername}"></p>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</body>
</html>
