<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
</head>
<body>
<div class="menu">
    <div class="header-menu container">
        <header class="d-flex justify-content-center py-3">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a th:href="@{/add}" class="nav-link active">Создать сотрудника</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/search}" class="nav-link">Поиск сотрудника</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/send}" class="nav-link">Отправить сообщение</a>
                </li>
            </ul>
        </header>
    </div>
    <div class="body-menu">
        <div class="button_position container my-3">
            <form th:action="@{/initial}" th:method="post" class="align-items-center">
                <button type="submit" id="initialButton" class="btn btn-primary btn-lg">инициализировать данныые из файла</button>
            </form>
        </div>
        <div class="list_user container">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Отчество</th>
                    <th scope="col">Email</th>
                    <th scope="col">Возраст</th>
                    <th scope="col">Зарплата</th>
                    <th scope="col">Адрес</th>
                    <th scope="col">Удаление</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.lastName}">Нет</td>
                    <td th:text="${user.firstName}">Нет</td>
                    <td th:text="${user.middleName}"> Нет</td>
                    <td th:text="${user.email}">Нет</td>
                    <td th:text="${user.age}">Нет</td>
                    <td th:text="${user.salary}">Нет</td>
                    <td th:text="${user.address}">Нет</td>
                    <td class="align-items-center">
                        <form th:action="@{/delete/{id}(id=${user.userId})}" method="post">
                            <button type="submit" value="Удалить" class="btn btn-danger">Удалить</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</body>
</html>
